{% extends 'layout.twig' %}

{% block myBody %}

    <h1>Contact</h1>
    <a href="mailto:{{mail}}">Mailez-moi sur {{mail}}</a>
    <div>
        <img src="img/walking-v1.jpg" alt="" width="300">
    </div>
    
{% endblock %}